﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TurfSport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/knockout-3.4.2.debug.js"></script>
    <script src="~/Scripts/knockout.mapping.js"></script>
    <script src="~/Scripts/knockout/FormViewModel.js"></script>
    <script src="~/Scripts/JsonForms.js"></script>
    <script type="text/html" id="logon">
        <form data-bind="action:viewModels.FormViewModel.ActionName,method:viewModels.FormViewModel.Method">
            <!-- ko foreach : FormElements -->
            <!-- ko if: IsText() -->
            <span data-bind="text:Title"></span>:
            <input type="text" data-bind="name:Name,value:Value" />
            <br />
            <!-- /ko -->
            <!-- /ko -->
            <input type="submit" value="Submit" />
        </form>
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #b5d95f;color: black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Turfsport POC", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Turfsport</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
