﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Load form</h2>

@Html.DropDownList("ViewModels",ViewBag.ViewModels as IEnumerable<SelectListItem>,new {id="viewModels",@class="form-control"}) <br/>
<input type="button" value="LoadForm" class="load btn btn-primary" style="float: left" />
<br/>
<br/>

<form class="jsonForm" data-bind="visible:viewModels.FormViewModel.FormElements().length > 0,action:viewModels.FormViewModel.ActionName(),method:viewModels.FormViewModel.ControllerName()">
    @*<input type="hidden" data-bind="attr:{name:'AccessToken',value:viewModels.FormViewModel.AccessToken}" />*@
    <div data-bind="foreach: viewModels.FormViewModel.FormElements">
        <!-- ko if: type && type == 'text' || type == 'bool' || type == 'decimal' || type == 'float' || type == 'single' || type == 'label' -->
        <div class="form-group">
            <label data-bind="text:name"></label>:
            <!-- ko if: type == 'label'-->
            <span data-bind="text:value" class="labelValue"></span>
            <input type="hidden" data-bind="attr:{name:name,value:value}" />
            <!-- /ko-->
            <!-- ko if: type == 'bool' -->
            <input type="radio" data-bind="attr:{name:name,value:value}" class="" />
            <!-- /ko-->
            <!-- ko if: type == 'decimal' && name != 'TotalStake' -->
            <span data-bind="text:value"></span>
            <!-- /ko-->
            <!-- ko if: type == 'decimal' && name == 'TotalStake' -->
            <span data-bind="text:viewModels.FormViewModel.Stake()"></span>
            <!-- /ko-->
            <!-- ko if: type == 'float' && name == 'Stake' -->
            <input type="text" data-bind="attr:{name:name,value:viewModels.FormViewModel.Stake()}" class="form-control"></input>
            <!-- /ko-->
            <!-- ko if: type == 'text' -->
            <input type="text" data-bind="attr:{name:name,value:value}" class="form-control"></input>
            <!-- /ko-->
            <br />
        </div>
        <!-- /ko-->
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"  />
</form>







